<div class="card-container">
  <div class="card">
    <img src="assets/card1.jfif" alt="card Image 1">
  </div>
  
</div>
<!-- <div class="card-container">
  <div class="card">
    <img src="assets/card2.jfif" alt="card Image 2">
  </div>
  
</div> -->
<div class="action-icon">
  <i class="material-icons">add_circle</i>
  <br>
  <span>Add New Card</span>
</div>

<div class="action-icons">
  <div class="action-title">Quick Actions</div>
  <div class="icon-container">
    <div class="icon-item"><i class="material-icons">edit</i><span>Edit</span></div>
    <div class="icon-item"><i class="material-icons">delete</i><span>Delete</span></div>
    <div class="icon-item"><i class="material-icons">share</i><span>Share</span></div>
  </div>
</div>
<div class="progress-container">
  <div class="watch-icon">🕒 New Watch</div>
  <div class="progress-label">
    <span class="space">Total : $1000</span>
    <span class="complete-text">70% Complete</span>
  </div>
  <div class="progress-bar-container">
    <div class="progress-bar">
      <div class="progress" style="width: 70%;"></div>
    </div>
  </div>
</div>
<div class="progress-container">
  <div class="watch-icon">💰 Savings Plan</div>
  <div class="progress-label">
    <span class="space">Target : $1500</span>
    <span class="complete-text">50% Saved</span>
  </div>
  <div class="progress-bar-container">
    <div class="progress-bar">
      <div class="progress" style="width: 50%;"></div>
    </div>
  </div>
</div>



