<!-- your-component.component.html -->
<div class="barChart">
    <div class="box">
        <div class="pair">
            <span class="label">Total Income</span>
            <span class="value">{{ total_income }}</span>
        </div>
        <div class="pair">
            <span class="label">Total Expense</span>
            <span class="value">{{ total_expense }}</span>
        </div>
        <div class="pair">
            <span class="label">Total Investment</span>
            <span class="value">{{ total_investment }}</span>
        </div>
    </div>
    <canvas id="barChart"></canvas>
</div>
