<div class="sidebar">
  <div class="section">
    <div class="item">
      <i class="material-icons">account_balance</i> <b>Hexa Bank</b>
    </div>
    <div class="item">
      <i class="material-icons">person</i> Chandrashekhara
    </div>
  </div>
  <div class="section">
    <div class="item">
      <i class="material-icons"></i><b>Menu</b> 
    </div>
    <div class="submenu">
      <div class="subitem">
        <i class="material-icons light-black-icon">visibility</i> Overview
      </div>
      <div class="subitem">
        <i class="material-icons light-black-icon">monetization_on</i> Transaction
      </div>
      <!-- Add icons for other submenu items -->
      <div class="subitem">
        <i class="material-icons light-black-icon">credit_card</i> Cards
      </div>
    </div>
    <div class="item">
      <i class="material-icons"></i><b>Generals</b> 
    </div>
    <div class="submenu">
      <div class="subitem">
        <i class="material-icons light-black-icon">settings</i> Settings
      </div>
      <!-- Add icons for other submenu items -->
      <div class="subitem">
        <i class="material-icons light-black-icon">brightness_4</i> Dark Mode
      </div>
    </div>
  </div>
  <div class="section">
    <div class="payment-icon">
      <i class="material-icons">payment</i>
      <br>New Payment
    </div>
  </div>
</div>
